*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
}

.container{
    margin: 10px;
    border: 1px solid #9758a6;
    display: flex;
    flex-direction: row;
    /* flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */
    flex-wrap: wrap;
    height: 700px;
    /* justify-content: flex-start; */
    gap: 40px;

}

.block{
    width: 100px;
    height: 100px;
    background: #cdd728;
    border: 5PX solid #9758a6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    /* flex-basis: 100px; */
    /* flex-grow: 1; */
    /* flex: 100px 1 1; */
}